<%- include("partials/header.ejs") %>
    <div class="heroSection">
        <h1><%=pageHeading %></h1>
        <div class="createATask">
            <form action="/" method="POST">
                <input type="text" name="tasks" placeholder="Enter a task" autocomplete="off">
                <button type="submit" name="task" value="<%=pageHeading%>">create Task</button>
            </form>
        </div>
        <% if(locals.yourTasks){ %>
            <div class="taskContainer">
            <% for(var i=0;i<yourTasks.length;i++){  %>
                    <form class="task" action="/delete" method="POST">
                        <input type="checkbox" name="checkItem" value="<%= yourTasks[i]._id %>"onchange="this.form.submit()">
                        <div class="taskContent" id='content<%=i%>'>
                            <%= yourTasks[i].name%>
                        </div>
                        <input type="hidden" name="listName" value="<%=pageHeading%>">
                    </form>
            <% } %>
        </div>
        <%} %>
    </div>
    <script>
        function completeTask(i){
        console.log("Hello");
        var contentId=`content${i}`;
        console.log(contentId);
        document.getElementById(contentId).style.textDecoration="line-through";
    } 
    </script>
    
<%- include("partials/footer.ejs") %>