<%- include("partials/header.ejs") %>
    <div class="lists">
        <form action="/yourList" method="POST">
            <input type="submit" value="Your list">
        </form>
        <form action="/workList" method="POST">
            <input type="submit" value="work list">
        </form>
    </div>
    <div class="heroSection">
        <% const d = new Date(); %>
        <% const date=d.getDate(); %>
        <% const month=d.getMonth(); %>
        <% const year=d.getFullYear(); %>
        <% var monthStr; %>
        <% if(month===0){ %>
            <% monthStr="January"; %>
        <% } %>
        <% if(month===1){ %>
            <% monthStr="February"; %>
        <% } %>
        <% if(month===2){ %>
            <% monthStr="March"; %>
        <% } %>
        <% if(month===3){ %>
            <% monthStr="April"; %>
        <% } %>
        <% if(month===4){ %>
            <% monthStr="May"; %>
        <% } %>
        <% if(month===5){ %>
            <% monthStr="June"; %>
        <% } %>
        <% if(month===6){ %>
            <% monthStr="July"; %>
        <% } %>
        <% if(month===7){ %>
            <% monthStr="August"; %>
        <% } %>
        <% if(month===8){ %>
            <% monthStr="September"; %>
        <% } %>
        <% if(month===9){ %>
            <% monthStr="October"; %>
        <% } %>
        <% if(month===10){ %>
            <% monthStr="November"; %>
        <% } %>
        <% if(month===11){ %>
            <% monthStr="December"; %>
        <% } %>
        <h1><%=date %>, <%= monthStr %>, <%=year %></h1>
        <div class="createATask">
            <form action="/createWorkTask" method="POST">
                <input type="text" name="tasks" placeholder="Enter a task">
                <input type="submit" value="Create Task">
            </form>
        </div>
        <% if(locals.workTasks){ %>
            <div class="taskContainer">
            <% for(var i=1;i<workTasks.length;i++){  %>
                    <div class="task" onchange="completeTask('<%=i %>')">
                        <input type="checkbox">
                        <div class="taskContent" id='content<%=i%>'>
                            <%= workTasks[i].name%>
                        </div>
                    </div>
            <% } %>
        </div>
        <%} %>
    </div>
    <script>
        function completeTask(i){
        console.log("Hello");
        var contentId=`content${i}`;
        console.log(contentId);
        document.getElementById(contentId).style.textDecoration="line-through";
    } 
    </script>
    
<%- include("partials/footer.ejs") %>